JWT_SECRET='V#sH8^&zHIV'
MONGO_URI=mongodb+srv://username:password@cluster0.qklc.mongodb.net/url-shortener?retryWrites=true&w=majority
REDIS_HOST=redis-cloud.redislabs.com
REDIS_PORT=10770
REDIS_USERNAME=default
REDIS_PASSWORD=TpFZWpFPvzFDEiohhewTAqOVy6J
KAFKA_BROKERS=kafka:9092